body {
	font-family: "Open Sans", sans-serif; 
	letter-spacing: .05em;
	line-height: 1.5em;
	overflow-X: hidden;
}
ol{
	list-style:inside decimal;
}
h1,h2,h3,h4,h5{
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
	letter-spacing: .2em;
}
cite{
	display: inline-block;
	font-size: .95em;
	margin-top: 3mm;
	margin-bottom: 3mm;
}
cite:before{
	content:"Citation: ";
	font-size: 16px;
	font-weight: bold;
}
img{
	margin: 1mm;
	padding: 2mm;
	background-color: rgba(0,0,255,.4);

}
.chapter img{
	width: 80%;	
}
input,textarea{
	padding: 1mm;
	padding-left: 3mm;
	border-radius: 3mm;
	background-color: white;
}
table{
	padding: 2mm;
	border: solid black 1px;
}
.container-cell{
	background-color:rgba(225,225,225,1);	
}
.chapter-title{
	margin: 0mm;
	color:rgba(45,45,45,1);
	padding: 1mm;
	padding-left: 10mm;
}
.sub-chapter-title{
	color:rgba(75,75,75,1);
	padding: 2mm;
	padding-left:15mm;
}
.event-title{
	font-size: 16px;
	color: rgba(75,75,75,1);
}
.featured:before{
	content: "Featured: ";
	font-size: 18px;
	color: rgba(175,25,25,1);
}
.description{
	font-family: segoe;
	font-size: 16px;
	display: inline-block;
	margin: 0%;
	margin-bottom: 0%;
	padding: 2mm;
	padding-left: 5mm;
	width: 680px;
	border-radius: 5mm 5mm 0mm 0mm;
	background-color: rgba(95,95,195,1);
	color: rgba(255,255,255,1);
}
.caption{
	font-family: segoe;
	font-size: 16px;
	display: inline-block;
	padding: 2mm;
	padding-left: 5mm;
	margin: 0%;
	width: 680px;
	border-radius: 0mm 0mm 5mm 5mm; 
	background-color: rgba(55,55,55,1);
	color: rgba(255,255,255,1);
}
ol.table-of-contents{
	margin-left: -10mm;
	left: -10mm;
	margin-top: -3mm;
}

/* 
==============================
Notes: table of content styles 
==============================
*/


#TOC{
	position:fixed;
	top: 0mm;
	left: 0mm;
	width: 25%;
	height: 100%;
	background-color: rgba(155,150,150,1);
	margin-right: 10mm;
	font-size: 13px;
	display: inline-block;
	overflow-Y: auto;
	overflow-X: none;
}
#TOC li{
	margin-top: 0mm;
}
.aside{
	animation-name: widen-right;
	animation-duration: 1s;
}
@keyframes widen-right{
	0%{
		height: 0mm;
		width: 0mm;
	}
	100%{
		height: 100%;
		width: 25%;
	}
}


	/*  Notes: Animation Classes  */


.fade-section-left{
	animation-name: click-fade-animation;
	animation-duration: .5s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;	
}


	/*  Notes: End of Animation Classes  */


.web-toggle-button{
	position: fixed;
	top: 0mm;
	width: 7mm;
	height: 99.9%;
	border-radius: 0px 10px 10px 0px;
	font-size: 8px;
	background-color:rgba(190,190,225,1);
	animation-name: slide-open-right;
	animation-duration: .75s;
	animation-fill-mode: forwards;
}
.web-toggle-button:hover{
	left:139.5mm;
	border-style:inset;
}
@keyframes slide-open-right{
	0% {
		left: 0mm;
	}
	100%{
		left: 25%;
	}
}
a.web-link-table-of-contents{
	position:relative; 
	padding:2mm; 
	margin:1mm; 
	margin-left:0mm;	
	display:inline-block;
}
#TOC button{
	text-align: left;
	color: rgba(65,65,65,1);
	font-size: 1.125em;
	font-weight:bold;
	letter-spacing: 1.3px;
}
#TOC button:hover{
	color: white;
	cursor: pointer;
}
.hover-toggle{
	width: 70%;
	height: 0mm;
	margin-left: 5mm;
	padding: 2mm;
	padding-left: 15mm;
	border: outset rgba(35,35,35,1) 1mm;
	border-radius: 15mm;
	color: rgba(0,0,0,0);
	background-color: rgba(100,100,100,1);
	overflow: hidden;
}
.hover-toggle:hover{
	animation-name: toggle-hover-animation;
	animation-duration: 1s;
    animation-iteration-count: 1;
	animation-fill-mode: forwards;
	border-color: rgba(255,255,0,1);
	overflow-X: hidden;
	overflow-Y: scroll;
}
.hover-toggle-expanded{
	width: 98%;
	height: 30mm;
	margin-left: 0mm;
	padding: 2mm;
	padding-left: 5mm;
	border: outset rgba(35,35,35,1) 1mm;
	color: rgba(0,0,0,1);
	background-color: rgba(245,245,245,1);
	overflow-Y: auto;
	overflow-X: auto;
}
.hover-toggle-expanded:hover{
	border-color: rgba(255,255,0,1);
}
@keyframes toggle-hover-animation{
	0% {
		height: 0mm; 
		color: rgba(0,0,0,0); 
		background-color: rgba(255,255,255,0);
	}
	100% {
		height: 35mm; 
		color: rgba(0,0,0,1); 
		background-color: rgba(255,255,255,1); 
		border-radius: 15mm 0mm 0mm 15mm; 
		width:85%; 
	}
}
@keyframes click-fade-animation{
	0% {
	}
	100% {
		height: 0%;
		width: 0%;
		visibility: hidden; 
		background-color:transparent; 
		color: rgba(0,0,0,0);
		overflow: hidden;
	}
}
@keyframes click-slide-left-animation{
	0% {
		left: 30%;
	}
	100% {
		left:0mm;
	}
}
.slide-section-left{
	animation-name: click-slide-left-animation;
	animation-duration: .75s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;	
}
.table-contents{
	background-color: rgba(255,255,255,1);
	color: rgba(45,45,65,1);
}


	/* Mozilla Buttons */


.literacy-page-use{
	background-color:rgba(200,200,15,0); 
	color:#fff;
}
.literacy-introduction{
	background-color:rgba(200,200,15,0); 
	color:#fff;
}
.literacy-browsers{
	background-color:rgba(155,200,155,0); 
	color:#fff;
} 
#btn-banner{
	position: absolute;
	top: 23mm;
	left: 35mm;
	letter-spacing: 8.5px;
	border: none;
	border-radius: 0mm 0mm 3mm 3mm ;
	margin: 0mm;
	font-size: 9px;
	padding-right: 2mm;
	padding-left: 2mm;
}
#btn-banner a{
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	color: rgba(45,45,45,1);
	text-decoration: none;
}
#btn-banner a:hover{
	color: rgba(45,45,255,1);
	text-decoration: underline;
}


/* End of TOC styles */


/* chapter styles */


.main{
	position:relative;
	width:65%;
	margin:0mm;
	top:-9mm;
	left: 25%;
	padding:3mm;
	animation-name: slide-narrow-right;
	animation-duration: .5s;
	animation-fill-mode: forwards;
}
@keyframes slide-narrow-right{
	0%{
		left: 0mm;
		width: 100%
	}
	100%{
		left: 26%;
		width: 80%;
	}
}
@keyframes click-widen-animation{
	0%{
	}
	100% {
		margin-left:0mm;
		left:0mm;
		width:103%;
	}
}
.slide-widen-right{
	animation-name: click-widen-animation;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;	
}
.logo-section{
	padding: 2mm;
}
.logo-section img{
	background-color: rgba(255,255,255,1);
	padding-right: 40%;
}
.quickNav{
	padding: 3mm;
	background-color: rgba(255,255,255,0);
}
#main p.text-info{
	width:85%;
	margin:5mm;
}
#main p.text{
	width:90%;
	margin:5mm;
}
#main p.text-light{
	width:90%;
}
#main h4.sub-chapter-title{
	margin-left:5mm;
}
div.time{
	position:relative; left:0mm; top:0mm;
	overflow:visible;	
}
div.event{
	background:white;
	border: black thin solid;
	width:107%;
	border-radius: 3mm 0mm 0mm 3mm;
	margin: 3mm;
	border-right: none;
	margin-bottom:10mm;
	margin-left: 0mm;
	padding: 3mm;
	background-color: rgba(255,255,10,1);
}
div.event p{
	width: 80mm;
	padding: 2mm;
	margin:1mm;
	background-color: rgba(255,255,255,.75);
	border: rgba(75,75,75,1) solid 1px;
	border-radius: 2mm;
}

div p.event-description{
	background-color: rgba(255,255,255,.75);
	width: 80%;
	padding: 3mm;
	border: rgba(75,75,75,1) solid 1px;
	border-radius: 1mm;
}
ol.lesson-plan{
	width:95%;
	margin-bottom:8mm;
	background-color:rgba(175,175,255,1);
	border:solid rgba(65,65,65,1) 1mm; 
	border-radius:2mm;
}
.chapter-resource-beginner,.chapter-resource-intermediate,.chapter-resource-advance{
	margin: 5mm 5mm 5mm -5mm;
	padding:3mm;
	background-color:rgba(245,245,215,1);
	border:solid rgba(65,65,65,1) 1mm; 
	border-radius:2mm;
}
#aboutMozOmaha .intro-section{
	background: white;
	border: red thin solid;
	border-radius: 3mm;
	padding: 3mm;
}
.intro-section{
	width:65%;
	margin: 15%;
	margin-bottom: 10mm;
	margin-top: 10mm;
}
.account-section{
	width: 101%;
	margin: -2.75mm;
	padding: 3mm;
	background-color:skyblue;
}
.account-section a{
	display: inline-block;
	margin: 2mm;
	font-weight: 700;
	color: red;
}
.account-section p.text{
	background-color:rgba(255,255,255,.4);
	padding:1.5mm;
}
.account-section input.execute{
	display: inline-block;
	padding: 1mm;
	padding-left: 2mm;
	padding-right: 2mm;
	margin: 1mm;
	font-weight: 700;
	background-color: rgba(200,200,200,1);
	color: rgba(85,85,85,1);
}
.account-section input.execute:hover{
	border-style: inset;
	color: rgba(245,245,255,1);
	background-color: rgba(145,145,145,1);
}
p.inline{
	display: inline;
}


/* Notes: footer */


.footer{
	height: 50mm;
}